/*-----------------resate page-----------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!
 * Bootstrap Grid v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
body {
  font-family: Arial;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*default setings*/
input:focus,
*:focus {
  outline: none !important;
}
mark {
  background: none;
  padding: 0;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
  margin-top: 0;
}
p {
  margin-top: 0;
}
a {
  outline: none !important;
  -webkit-transition: color 0.3s, background 0.3s, opacity 0.3s, border 0.3s;
  -o-transition: color 0.3s, background 0.3s, opacity 0.3s, border 0.3s;
  transition: color 0.3s, background 0.3s, opacity 0.3s, border 0.3s;
}
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/gilroy-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  background: url(../fonts/gilroy/);
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/gilroy-medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/gilroy-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/gilroy-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
html,
body {
  font-size: 0.52vw;
}
html,
body {
  font-size: 10px;
}
body {
  font-family: 'Gilroy', Arial;
  font-weight: 400;
  color: #000;
  background: #FEFFFE;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 168.2rem auto;
  overflow-x: hidden;
}
.container {
  max-width: 117rem;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #07d2a9;
}
.links-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links-two > * {
  margin: 0 0.8rem;
}
.links-two > *:last-child {
  margin-right: 0;
}
.links-two > *:first-child {
  margin-left: 0;
}
.link-style-1 a,
.link-style-2 a {
  min-width: 16.6rem;
  display: inline-block;
  padding: 0.7em 0.8em 0.6em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  border: 0.2rem solid #07d2a9;
  border-radius: 0.27em;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  color: #07d2a9;
}
.link-style-1 a:hover,
.link-style-2 a:hover {
  border-color: #18B848;
  color: #18B848;
}
.link-style-1 a {
  background: #07d2a9;
  color: #000;
}
.link-style-1 a:hover {
  background: #18B848;
  color: #000;
}
.link-vector a {
  font-size: 1.8em;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0.5rem;
  background: #07d2a9;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.7em 0.5em;
  text-transform: uppercase;
}
.link-vector a:after {
  content: ' ';
  width: 2.5rem;
  height: 1.8rem;
  display: block;
  background: url(../img/arrows.png) no-repeat;
  background-size: contain;
  margin-left: 4.6rem;
}
.link-vector a:hover {
  background: #18B848;
}
h1,
.h1 {
  font-size: 4.8em;
  color: #07d2a9;
  font-weight: 600;
  margin-bottom: 3rem;
  text-transform: uppercase;
  margin-bottom: 4.7rem;
}
h1 span,
.h1 span {
  display: block;
  font-size: 0.79em;
  color: #000;
  text-transform: none;
  margin-top: 0.7rem;
}
h2,
.h2 {
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5.4rem;
}
h2 span,
.h2 span {
  font-size: 0.45em;
  display: block;
  color: #07d2a9;
  text-transform: none;
  margin-top: 0.3rem;
}
h4,
.h4 {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.3em;
  margin-bottom: 0.1rem;
}
ul.ul-marker {
  font-size: 1.8em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin-bottom: 6.4rem;
}
ul.ul-marker li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1.2rem;
}
ul.ul-marker li:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  background: url(../img/romb.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0.2rem;
  left: 0;
}
.item-srevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2.6rem;
}
.item-srevice .item {
  width: 32%;
  margin-bottom: 6.7rem;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.item-srevice .item:nth-child(3n) {
  margin-right: 0;
}
.item-srevice .img {
  width: 8rem;
}
.item-srevice .img img {
  max-width: 100%;
}
.item-srevice .text {
  width: calc(100% - 10rem);
}
.item-srevice p {
  font-size: 1.6em;
  line-height: 1.3em;
  margin-bottom: 0;
}
.items-who-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.items-who-are .item {
  width: 23.1%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
  border-radius: 0.5rem;
  background: #fff;
  margin: 0 2.5% 2rem 0;
}
.items-who-are .item:nth-child(4n) {
  margin-right: 0;
}
.items-who-are img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.items-who-are p {
  font-size: 1.6em;
  line-height: 1.5em;
  padding: 1.6rem 1.3rem 2rem;
}
.block-submit {
  width: 100%;
  max-width: 55.4rem;
  margin: 0 auto 2rem;
  border-top: 1px solid #07d2a9;
  padding-top: 2.6rem;
  text-align: center;
  margin-bottom: 8rem;
}
.block-submit p {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
.block-submit .link-style-1 a {
  width: 100%;
  max-width: 35.8rem;
}
.form-items {
  width: 100%;
  max-width: 69rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.form-items .item {
  width: 47%;
}
label {
  display: block;
  margin-bottom: 2rem;
}
label .title {
  display: block;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
label .title span {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
}
label select,
label input,
label textarea {
  display: block;
  width: 100%;
  height: 4rem;
  border: none;
  background: none;
  font-size: 1.6em;
  font-family: 'Gilroy';
  border-bottom: 1px solid #07d2a9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
label option {
  font-family: 'Gilroy';
}
label select {
  padding-right: 2.3rem;
  background: url(../img/select.png) right 50% no-repeat;
  background-size: 1.8rem auto;
}
label textarea {
  resize: none;
  height: 16.1rem;
}
label ::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
label ::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
label :-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
label :-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}
label.error-label select,
label.error-label input,
label.error-label textarea {
  border-color: #f00;
}
label.error-label .error-span {
  display: block;
  color: #f00;
  margin-top: 0.5rem;
  font-size: 1.2em;
}
label.label-checkbox {
  position: relative;
  padding-left: 3rem;
  font-size: 1.4em;
  line-height: 1.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.label-checkbox.active:before {
  background-image: url(../img/check.svg);
}
label.label-checkbox:before {
  content: '';
  width: 2rem;
  height: 2rem;
  border: 1px solid #07d2a9;
  border-radius: 0.5rem;
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 0;
  background-repeat: no-repeat;
  background-size: 57% auto;
  background-position: 50%;
}
label.label-checkbox input {
  display: none;
}
.submit {
  margin-top: 5.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.8rem;
}
.submit input,
.submit button {
  background: #07d2a9;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  padding: 0.8em 7em;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.submit input:hover,
.submit button:hover {
  opacity: 0.9;
}
.two-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.two-label > * {
  width: 48%;
}
.two-label .submit {
  margin-top: 0;
  margin-bottom: 2rem;
}
.two-label .submit input,
.two-label .submit button {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  padding-top: 0;
  padding-bottom: 0;
}
.items-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.items-contact > .item:first-child {
  width: 49%;
}
.items-contact > .item:nth-child(2) {
  width: 48.7%;
}
.contacts-lists {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.contacts-lists .lists {
  width: 100%;
  display: inline-block;
  margin-bottom: 4.6rem;
  padding-right: 2rem;
}
.contacts-lists h4,
.contacts-lists .h4 {
  font-size: 1.8em;
  color: #07d2a9;
  margin-bottom: 0.3rem;
}
.contacts-lists ul,
.contacts-lists p {
  font-size: 1.6em;
  margin-bottom: 2.3rem;
  line-height: 1.5em;
}
.contacts-lists ul:last-child,
.contacts-lists p:last-child {
  margin-bottom: 0;
}
.form-contact h4,
.form-contact .h4 {
  margin-bottom: 1rem;
}
.form-contact p {
  font-size: 1.6em;
  margin-bottom: 2rem;
}
/*------------------------------------*/
header {
  padding: 1.5rem 0;
}
header .logo {
  width: 23.2rem;
}
header .logo img {
  width: 100%;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .menu-wr {
  position: relative;
  margin-left: 1.4rem;
  padding-left: 1.2rem;
  z-index: 9;
}
header .menu-wr.active:before {
  content: '';
  width: calc(100% + 1.4rem);
  height: calc(100% + 2.4rem);
  display: block;
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  border: 0.2rem solid #07d2a9;
  border-left-color: #fff;
  z-index: 1;
  border-radius: 0 0.5rem 0.5rem 0;
  background: #fff;
}
header .menu-wr.active .navigation {
  display: block;
}
header .menu-wr .navigation {
  width: 26.6rem;
  position: absolute;
  background: #fff;
  font-size: 1.8em;
  white-space: nowrap;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border: 0.2rem solid #07d2a9;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  top: -1.2rem;
  right: 100%;
  display: none;
}
header .menu-wr ul li {
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
header .menu-wr ul li:before {
  content: '';
  width: 1.6rem;
  height: 1.1rem;
  display: block;
  background: url(../img/acardion-grean.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0.3rem;
  left: 0;
}
header .menu-wr .reg {
  width: 100%;
  padding-top: 1.7rem;
  border-top: 1px solid #07d2a9;
  margin-top: 2rem;
  padding-left: 2.2rem;
}
header .open-menu {
  width: 3.1rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
header .open-menu:hover div {
  background: #18B848;
}
header .open-menu div {
  width: 100%;
  height: 0.5rem;
  background: #07d2a9;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
header .open-menu div:last-child {
  margin-bottom: 0;
}
header .langwich {
  margin-left: 1.4rem;
  position: relative;
}
header .langwich.acitve .top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
header .langwich.acitve .bottom {
  display: block;
}
header .langwich .top {
  background: #07d2a9;
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
header .langwich .top img {
  width: 100%;
  border-radius: 50%;
}
header .langwich .bottom {
  width: 100%;
  position: absolute;
  background: #07d2a9;
  left: 0;
  top: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem 0;
  display: none;
}
header .langwich .bottom a {
  display: block;
  text-align: center;
  margin-bottom: 0.6rem;
}
header .langwich .bottom a:hover {
  opacity: 0.9;
}
header .langwich .bottom a:last-child {
  margin-bottom: 0;
}
header .langwich .bottom img {
  width: 60%;
}
.section-title {
  padding-top: 0.9rem;
}
.section-title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-title .container .item:first-child {
  width: 40%;
}
.section-title .container .item:nth-child(2) {
  width: 57.6%;
}
.section-title .container .item:nth-child(2) img {
  width: 100%;
  display: block;
  margin-left: 2.6rem;
}
.section-srevice {
  padding: 8.1rem 0 4.9rem;
}
.section-buy {
  padding: 4.3rem 0 8.5rem;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 168.2rem auto;
}
.acardion .item {
  margin-bottom: 1.2rem;
}
.acardion .item.active .top span {
  color: #07d2a9;
}
.acardion .item.active .top span:before,
.acardion .item.active .top span:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.acardion .item.active .top span:before {
  opacity: 0;
}
.acardion .item.active .top span:after {
  opacity: 1;
}
.acardion .item .top {
  font-size: 2.2em;
  font-weight: 900;
  line-height: 1.3em;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.acardion .item .top span {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  padding-left: 3.1rem;
  position: relative;
}
.acardion .item .top span:before,
.acardion .item .top span:after {
  content: ' ';
  width: 2.5rem;
  height: 1.8rem;
  display: block;
  position: absolute;
  top: 0.6rem;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.acardion .item .top span:before {
  background-image: url(../img/acardion-black.png);
}
.acardion .item .top span:after {
  background-image: url(../img/acardion-grean.png);
  opacity: 0;
}
.acardion .item .top span:hover {
  color: #07d2a9;
}
.acardion .item .bottom {
  background-color: rgba(240, 240, 240, 0.639);
  padding: 1.2rem 3.1rem;
  margin-top: 0.9rem;
  display: none;
}
.acardion p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 2rem;
}
.acardion p:last-child {
  margin-bottom: 0;
}
.section-how-start {
  text-align: center;
  min-height: 46.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 168.2rem auto;
}
.section-how-start h2,
.section-how-start .h2 {
  margin-bottom: 2.7rem;
}
.section-how-start h2 span,
.section-how-start .h2 span {
  color: #000;
  margin-top: 2rem;
}
.section-how-start .link-style-1 a {
  width: 100%;
  max-width: 38rem;
}
footer {
  background-color: rgba(240, 240, 240, 0.639);
  padding: 3.3rem 0 5rem;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .logo {
  width: 23.2rem;
}
footer .logo img {
  width: 100%;
}
footer .links {
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .links ul li {
  margin-bottom: 1rem;
}
footer .links ul li:last-child {
  margin-bottom: 0;
}
footer .links ul:first-child {
  margin-right: 5rem;
}
footer .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6em;
}
footer .privacy .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .privacy .link a {
  color: #07d2a9;
}
footer .privacy .link a:hover {
  text-decoration: underline;
}
footer .privacy .link span {
  display: block;
  margin: 0 1rem;
}
footer .scroll-up {
  width: 4.2rem;
  height: 4.2rem;
  background-color: #07d2a9;
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 2rem;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
footer .scroll-up:hover {
  opacity: 0.8;
}
footer .scroll-up img {
  width: 65%;
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.info-block {
  width: 100%;
  background: #07d2a9;
  padding: 2rem 0 2rem;
}
.info-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info-block p {
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: 0;
}
.info-block .close {
  width: 4.2rem;
  height: 4.2rem;
  background: url(../img/close.png) 50% no-repeat #fff;
  background-size: 52% auto;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.info-block .close:hover {
  opacity: 0.9;
}
.section-about {
  padding: 4rem 0 4rem;
}
.section-about .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section-about .items .item:first-child {
  width: 57.5%;
}
.section-about .items .item:first-child img {
  width: 100%;
}
.section-about .items .item:nth-child(2) {
  width: 38.2%;
}
.section-about .logo {
  width: 23rem;
  margin-bottom: 2rem;
}
.section-about .logo img {
  width: 100%;
}
.section-about p {
  font-size: 1.6em;
  line-height: 1.33em;
  margin-bottom: 2rem;
}
.section-about p:last-child {
  margin-bottom: 0;
}
.section-for-test {
  padding: 4rem 0 4rem;
}
.section-contact {
  padding: 4rem 0 4rem;
}
.modal-window {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.79);
  z-index: 99;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}
.modal-window:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
.modal-window .window {
  width: calc(100% - 30px);
  max-width: 55.6rem;
  background: #fff;
  padding: 4rem 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  border-radius: 0.5rem;
  position: relative;
}
.modal-window .close {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #000;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-window .close:hover {
  background: #07d2a9;
  border-color: #07d2a9;
}
.modal-window .close:hover:before,
.modal-window .close:hover:after {
  background: #fff;
}
.modal-window .close:before,
.modal-window .close:after {
  content: '';
  width: 60%;
  height: 0.2rem;
  display: block;
  background: #000;
  position: absolute;
  top: calc(50% - 0.1rem);
  left: 20%;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.modal-window .close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-window .close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-window h2,
.modal-window .h2 {
  text-align: center;
  margin-bottom: 3.1rem;
}
.modal-window form {
  display: block;
  max-width: 360px;
  margin: 0 auto;
}
.modal-window .submit {
  margin-bottom: 2rem;
}
.modal-window .submit input,
.modal-window .submit button {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal-window .links {
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.modal-window .links a {
  text-decoration: underline;
}
.modal-window .links a:hover {
  text-decoration: none;
}
.modal-window label {
  margin-bottom: 1rem;
}
.modal-window .submit {
  margin-top: 2.2rem;
}
@media (max-width: 1200px) {
  html,
  body {
    font-size: 0.83vw;
  }
}
@media (max-width: 992px) {
  html,
  body {
    font-size: 10px;
  }
  header .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .logo {
    width: 100%;
  }
  header .logo img {
    max-width: 25rem;
  }
  header .right-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-right: 5rem;
  }
  header .menu-wr {
    position: absolute;
    right: 15px;
  }
  .section-title .container {
    display: block;
  }
  .section-title .container .item {
    width: 100% !important;
  }
  .section-title .container .item:first-child {
    margin-bottom: 5rem;
  }
  .item-srevice {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .item-srevice .item {
    width: 44%;
    margin-right: 0;
  }
  .items-who-are {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .items-who-are .item {
    width: 48%;
    margin-right: 0;
  }
  footer .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .links {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .scroll-up {
    display: none;
  }
  footer .privacy {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .logo {
    margin-bottom: 3rem;
  }
  .section-about .items {
    display: block;
  }
  .section-about .items .item {
    width: 100% !important;
  }
  .section-about .items .item:first-child {
    margin-bottom: 3rem;
  }
  .items-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .items-contact > .item:first-child {
    width: 100%;
  }
  .items-contact > .item:nth-child(2) {
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 599px) {
  .h1,
  h1 {
    font-size: 3rem;
  }
  .h1 span,
  h1 span {
    font-size: 0.73em;
    margin-top: 0.1rem;
  }
  h2,
  .h2 {
    font-size: 3em;
    margin-bottom: 2rem;
  }
  header {
    padding: 1.9rem 0 1rem;
  }
  header .container .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 23rem;
  }
  header .right-header {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 3rem;
  }
  header .right-header .menu-wr {
    top: 10.6rem;
  }
  header .links-two {
    background: #07d2a9;
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
  }
  header .links-two > * a {
    min-width: 0;
    padding: 0;
    background: none;
    border: none;
    color: #000;
  }
  .section-title {
    padding-top: 3rem;
  }
  .section-title .container .item:nth-child(2) img {
    margin-left: 0;
  }
  .link-vector a {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  ul.ul-marker {
    margin-bottom: 4.1rem;
  }
  .item-srevice .item {
    width: 100%;
    margin-bottom: 2.9rem;
  }
  .item-srevice .img {
    width: 5rem;
  }
  .item-srevice .text {
    width: calc(100% - 6.8rem);
  }
  .items-who-are p {
    font-size: 1.2em;
    padding: 1rem 1rem;
  }
  .section-how-start {
    min-height: 32.6rem;
  }
  .info-block {
    position: relative;
    padding-top: 4rem;
  }
  .info-block p {
    font-size: 1.6em;
  }
  .info-block .close {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .form-items .item {
    width: 100%;
  }
  .contacts-lists {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .two-label {
    display: block;
  }
  .two-label > * {
    width: 100%;
  }
}
